<h2>Tools</h2>


<% @tools.each do |tool| %>

	<p><%= link_to tool.name, tool %></p>
    <p><%= link_to 'Show', tool %></p>
    <% if user_signed_in? %>
	<p><%= link_to 'Edit', edit_tool_path(tool) %></p>
    <p><%= link_to 'Destroy', tool, confirm: 'Are you sure?', method: :delete %></p>
	<% end %>
<% end %>


<br />
<% if user_signed_in? %>
<%= link_to 'New Tool', new_tool_path %>
<% end %>