<h2>Tools</h2>
<p>Here will be some tools that I have grown to love and use regularly</p>

<% @tools.each do |tool| %>

	<div class="tool-post"><b><%= link_to tool.name, tool %></b>
	<%= link_to (image_tag tool.image_url(:thumb).to_s ), tool, :class => "tool-image" %></div>
   <!-- <p><%= link_to 'Show', tool %></p>
    <% if user_signed_in? %>
	<p><%= link_to 'Edit', edit_tool_path(tool) %></p>
    <p><%= link_to 'Destroy', tool, confirm: 'Are you sure?', method: :delete %></p>-->
	<% end %>
<% end %>


<br />
<% if user_signed_in? %>
<%= link_to 'New Tool', new_tool_path %>
<% end %>