<p id="notice"><%= notice %></p>

<p>
  <b><%= @talent.title %></b>
  
</p>

<p>
  <b>Role:</b>
  <%= @talent.roles %>
</p>

<p>
  <b>Description:</b>
  <%= @talent.description %>
</p>

<p>
  <%= image_tag @talent.image_url.to_s %>
</p>

<% if user_signed_in? %>
	<%= link_to 'Edit', edit_talent_path(@talent) %> |
<% end %>
<%= link_to 'Back', talents_path %>
