<% content_for :title, "Kory Tegman - " + @talent.title %>
<section class="content">
	<p id="notice"><%= notice %></p>
	<div class="talent-show-words">
		<p>
		  <h2><%= @talent.title %></h2>
  
		</p>

		<p>
		  <b>Role:</b>
		  <%= @talent.roles %>
		</p>

		<p>
		  <b>Description:</b>
		  <%= @talent.description.html_safe %>
		</p>

		<p>
		  <a href="<%= @talent.link %>"><b>Link to Project</b></a>

		</p>
	</div>
	<div class="talent-show-image">
	
		  <%= link_to image_tag( @talent.image_url.to_s), @talent.link %>
	
	</div>
	<% if user_signed_in? %>
		<%= link_to 'Edit', edit_talent_path(@talent) %> |
	<% end %>
	<%= link_to 'Back', talents_path %>
</section>