<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @talent.title %>
</p>

<p>
  <b>Description:</b>
  <%= @talent.description %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @talent.image_url.to_s %>
</p>


<%= link_to 'Edit', edit_talent_path(@talent) %> |
<%= link_to 'Back', talents_path %>
