
<script src="/assets/jquery.js?body=1" type="text/javascript"></script>


<script src="http://askdonttell.tumblr.com/api/read/json" type="text/javascript"></script>



<div class="blog-start">
	<h2>Photo Blog</h2>
</div>

<script type="text/javascript">


$(function() {
	var startLoad = 0,
		finishLoad = 12;
	loadPics(startLoad, finishLoad);
	$("#footer").waypoint(function() {
		startLoad += 12;
		finishLoad += 12;
		loadPics(startLoad, finishLoad);
	},  { offset: '100%' });
});

function loadPics(start,finish) {
	var posts = tumblr_api_read.posts;
	
	$ul = $('.blog ul');
	$li = $('.blog ul li');
	for (var i=start; i<finish; i++){
		var len = 10;
		var p = posts[i];
		if (p["type"] == ['photo']){
			var date = p['date'],
			 	title = p['slug'].replace(/\-/g, " "),
			 	photo = p['photo-url-250'],
			 	desc = p['slug'];
			$(".blog-start").append('<div class="blog"><b>' + title + '</b><br /> <img alt ="' + desc + '" src="' + photo + '" class="blog-image" /></div>');
		};
	};
	
}


</script>



<!--<% @blogs.each do |blog| %>
  
   	<p><%= blog.title %></p>
    <p><%= blog.content %></p>
    <p><%= link_to 'Show', blog %></p>
    <% if user_signed_in? %>
		<p><%= link_to 'Edit', edit_blog_path(blog) %></p>
    	<p><%= link_to 'Destroy', blog, confirm: 'Are you sure?', method: :delete %></p>
	<% end %>

<% end %>

<br />
<% if user_signed_in? %>
<%= link_to 'New Blog', new_blog_path %>
<% end %>

-->