<% content_for :title, "Kory Tegman's Blog" %>
<script src="/assets/jquery.js?body=1" type="text/javascript"></script>


<!-- <script src="http://askdonttell.tumblr.com/api/read/json" type="text/javascript"></script>
 -->
<div id="listing-blogs">
	
	
	<% @blogs.each do |blog| %>
		<div class="blog-post-preview">
	   		<h2><%=link_to blog.title, blog %></h2>
		    <p><%= truncate( blog.content, :length => 300 ).html_safe  %>
		    <%= link_to 'Continue Reading', blog, :class => "continue-reading" %></p>
		    <% if user_signed_in? %>
				<p><%= link_to 'Edit', edit_blog_path(blog) %></p>
		    	<p><%= link_to 'Destroy', blog, confirm: 'Are you sure?', method: :delete %></p>
			<% end %>
		</div>
	<% end %>

	<br />
	<% if user_signed_in? %>
	<%= link_to 'New Blog', new_blog_path %>
	<% end %>

	
</div>

<div class="instagram">
	<h2>Instagram</h2>
</div>

<!-- <script type="text/javascript">
$(function() {
	var startLoad = 0,
		finishLoad = 12;
	loadPics(startLoad, finishLoad);
	$("#footer").waypoint(function() {
		startLoad += 12;
		finishLoad += 12;
		loadPics(startLoad, finishLoad);
	},  { offset: '100%' });
});

function loadPics(start,finish) {
	var posts = tumblr_api_read.posts;	
	$ul = $('.blog ul');
	$li = $('.blog ul li');
	for (var i=start; i<finish; i++){
		var len = 10;
		var p = posts[i];
		if (p["type"] == ['photo']){
			var date = p['date'],
			 	title = p['slug'].replace(/\-/g, " "),
			 	photo = p['photo-url-250'],
			 	desc = p['slug'];
			$(".blog-start").append('<div class="blog"><b>' + title + '</b><br /> <img alt ="' + desc + '" src="' + photo + '" class="blog-image" /></div>');
		};
	};	
}
</script> -->


