<h2>Coming Soon!</h2>



<% @blogs.each do |blog| %>
  
   	<p><%= blog.title %></p>
    <p><%= blog.content %></p>
    <p><%= link_to 'Show', blog %></p>
    <% if user_signed_in? %>
		<p><%= link_to 'Edit', edit_blog_path(blog) %></p>
    	<p><%= link_to 'Destroy', blog, confirm: 'Are you sure?', method: :delete %></p>
	<% end %>

<% end %>

<br />
<% if user_signed_in? %>
<%= link_to 'New Blog', new_blog_path %>
<% end %>