<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @blog.title %>
</p>

<p>
  <b>Content:</b>
  <%= @blog.content %>
</p>

<% if user_signed_in? %>
<%= link_to 'Edit', edit_blog_path(@blog) %>
<% end %> |
<%= link_to 'Back', blogs_path %>
