<!DOCTYPE html>
<%# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither %>
<%= html_tag :class => "no-js", :lang => "en" %>
  <%= render "head" %>

  <body class="pages">
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	</script>
    <%= render "chromeframe" %>
    <%= render "header" %>

    <div id="main" role="main">
      <%= render "flashes" %>
      <%= yield %>
    </div>

    <%= render "footer" %>

    <%# Javascript at the bottom for fast page loading %>
    <%= render "javascripts" %>
    <% if user_signed_in? %>
      <script type="text/javascript">
      // Sorting the list

      $(document).ready(function(){
        $('#talent-content').sortable({
          axis: 'y',
          dropOnEmpty: false,
          handle: 'img',
          cursor: 'crosshair',
          items: 'li',
          opacity: 0.4,
          scroll: true,
          update: function(){
            $.ajax({
              type: 'post',
              data: $('#talent-content').sortable('serialize'),
              dataType: 'script',
              complete: function(request){
              $('#talent-content').effect('highlight');
              },
              url: '/talents/sort'
            })
          }
        });
      });
      </script>
    <% end %>
  </body>
</html>