
<% @homes.each do |home| %>
 
    <h2><%= home.title %></h2>
    <p class="home"><%= home.description %></p>
    <% if user_signed_in? %>
		<p><%= link_to 'Show', home %></p>
		<p><%= link_to 'Edit', edit_home_path(home) %></p>
    	<p><%= link_to 'Destroy', home, confirm: 'Are you sure?', method: :delete %></p>
	<% end %>

<% end %>


<br />
<% if user_signed_in? %>
<%= link_to 'New Home', new_home_path %>
<% end %>