<%= image_tag "koryprofile.jpg", :class => 'profile-image'  %>
<div class="home">
<% @homes.each do |home| %>

    <h2><%= home.title %></h2>
    <p><%= home.description.html_safe %></p>
    <% if user_signed_in? %>
		<p><%= link_to 'Show', home %></p>
		<p><%= link_to 'Edit', edit_home_path(home) %></p>
    	<p><%= link_to 'Destroy', home, confirm: 'Are you sure?', method: :delete %></p>
	<% end %>

<% end %>
<a href="kory-tegman-resume-9-14.pdf"><b>Resume</b></a><br />
<a href="http://github.com/koryteg"><b>GitHub</b></a>

<br />
</div>



<% if user_signed_in? %>
<%= link_to 'New Home', new_home_path %>
<% end %>