<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @home.title %>
</p>

<p>
  <b>Description:</b>
  <%= @home.description %>
</p>

<% if user_signed_in? %>
<%= link_to 'Edit', edit_home_path(@home) %>
<% end %> |
<%= link_to 'Back', homes_path %>
