<head>
  <meta charset="utf-8">

  <%# Use the .htaccess and remove these lines to avoid edge case issues. %>
  <%# More info: h5bp.com/b/378 %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="msvalidate.01" content="288DD01996D0E0391C2AA1E06C77270D" />
  
  <title><%=h yield(:title) %></title>
  <meta name="description" content="Kory Tegman builds web apps. His goal is to bring and build the most value He can to clients. He writes code, but that's just a means to helping clients meet needs, ship products that are seamless, and get them to the hands of their customers with ease. Technology can get in the way of that, or be it's best friend. His goal is to provide the latter.">

  <%# Mobile viewport optimized: h5bp.com/viewport %>
  <meta name="viewport" content="width=device-width">

  <%= render "stylesheets" %>
  <%= stylesheet_link_tag "shstyles/shCore.css" %>
  <%= stylesheet_link_tag "shstyles/shCoreRDark.css" %>
  
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <%# More ideas for your <head> here: h5bp.com/d/head-Tips %>

  <%# All JavaScript at the bottom, except polyfills %>
  <%= javascript_include_tag "polyfills" %>
  	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-34156907-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
  <%= csrf_meta_tag %>
</head>