<header id="header">
	<div id="head-left">
		<div id="logo">
			<%= image_tag 'kt-logo.png' %>
		</div>
		<div id="title">
			<h1>Kory Tegman</h1>
			<p>Web Dev + Design</p>
		</div>
	</div>
	<div id="head-right">
		<ul class="nav">
			<li><%= link_to 'About', homes_path %></li>
			<li><%= link_to 'Talent', talents_path %></li>
			<li><%= link_to 'Tools', tools_path %></li>
			<li><%= link_to 'Blog', blogs_path %></li>
		</ul>
		<div id="user_nav">
			<% if  user_signed_in? %>
				signed in as <%= current_user.email %>
				<%= link_to 'sign out', destroy_user_session_path, :method => :delete %>
			<% else %>
				<%= link_to 'sign in', new_user_session_path %>
			<% end %>
		</div>
	</div>
</header>